<ion-content [fullscreen]="true">
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle color="success">Reciclica</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-input label="User name" labelPlacement="floating" placeholder="Enter text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Email input" type="email" placeholder="email@domain.com"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input label="Password input" type="password" value="password"></ion-input>
        </ion-item>

        <ion-button color="dark" fill="clear" size="full">Forget email</ion-button>
        <ion-button color="success" size="full">Login</ion-button>
        <ion-button color="success" fill="clear" size="full">Register</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
